#root {
  margin: 0;
  padding: 4rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.allItem {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.button-category {
  display: flex;
  margin-bottom: 30px;
}



.container-card {
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
  background-color: white;
  transition: all .40s;
}

.picture-header img {
  width: 100%;
}

.card-name {
  font-size: small;
  color: black;
}

.card-price {
  color: black;
}



.container-card:hover {
  transform: scale(0.9);
}

.card-categorie {
  color: black;
}

.button-all {
  margin-right: 20px;
}

.button-spooky {
  margin-right: 20px;
}

.button-funny {
  margin-right: 20px;
}

.button-asc {
  margin-left: 1000px;
  margin-right: 20px;
}

.button-desc {
  margin-right: 20px;
}

.button-creative {
  margin-right: 20px;
}